absl-py==2.1.0
altgraph==0.17.4
asgiref==3.7.2
astunparse==1.6.3
attrs==23.2.0
auto-py-to-exe==2.42.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.7.0
bottle==0.12.25
bottle-websocket==0.2.9
cachetools==5.3.3
certifi==2023.7.22
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
contourpy==1.1.1
cryptography==41.0.5
cycler==0.12.1
decorator==5.1.1
decouple==0.0.7
defusedxml==0.7.1
distlib==0.3.7
Django==4.2.6
django-allauth==0.58.2
django-ipware==6.0.4
django-tinymce==3.6.1
Eel==0.16.0
entrypoints==0.4
fabio==2023.10.0
fastjsonschema==2.19.1
filelock==3.12.4
Flask==3.0.2
flatbuffers==24.3.7
fonttools==4.43.1
fsspec==2024.3.1
future==0.18.3
gast==0.5.4
geographiclib==2.0
geopy==2.4.1
gevent==23.9.1
gevent-websocket==0.10.1
gitdb==4.0.11
GitPython==3.1.42
google-pasta==0.2.0
greenlet==3.0.1
grpcio==1.62.1
h5py==3.10.0
hdf5plugin==4.3.0
idna==2.8
ipython-genutils==0.2.0
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
keras==3.1.1
keyboard==0.13.5
kiwisolver==1.4.5
libclang==18.1.1
lxml==5.1.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.0
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
MouseInfo==0.1.3
mpmath==1.3.0
mysql==0.0.3
mysqlclient==2.2.0
namex==0.0.7
nest-asyncio==1.6.0
networkx==3.2.1
numpy==1.26.1
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.10.0
packaging==23.2
pandas==2.1.3
pandocfilters==1.5.1
pefile==2023.2.7
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.11.0
portpicker==1.2.0
prompt-toolkit==1.0.18
protobuf==4.25.3
psutil==5.9.8
py-cpuinfo==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycparser==2.21
pygame==2.5.2
PyGetWindow==0.0.9
Pygments==2.17.2
pyinstaller==6.2.0
pyinstaller-hooks-contrib==2023.10
PyJWT==2.8.0
PyMsgBox==1.0.9
PyMySQL==1.1.0
pyparsing==3.1.1
pyperclip==1.8.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyRect==0.2.0
PyScreeze==0.1.30
python-dateutil==2.8.2
python-decouple==3.8
python-ipware==2.0.1
python3-openid==3.2.0
pytweening==1.0.7
pytz==2023.3.post1
pywin32==306
pywin32-ctypes==0.2.2
PyYAML==6.0.1
pyzmq==25.1.2
razorpay==1.4.1
referencing==0.34.0
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
silx==1.1.2
simplegeneric==0.8.1
six==1.12.0
smmap==5.0.1
soupsieve==2.5
sqlparse==0.4.4
sympy==1.12
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
thop==0.1.1.post2209072238
threadpoolctl==3.4.0
tinycss2==1.2.1
torch==2.2.1
torchvision==0.17.1
tornado==4.5.3
tqdm==4.66.2
traitlets==5.14.2
typing_extensions==4.10.0
tzdata==2023.3
ultralytics==8.1.31
urllib3==1.24.3
virtualenv==20.24.5
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
Werkzeug==3.0.1
whichcraft==0.6.1
window==0.0.3
wrapt==1.16.0
zope.event==5.0
zope.interface==6.1
