{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <title>Fruitition</title>
  <meta content="B Tech Project" name="description">
  <meta content="" name="keywords">
  <link href="https://play-lh.googleusercontent.com/_IA1p-kzpgxWMEu_s" rel="icon">

  <link href="https://play-lh.googleusercontent.comtvm-5K3Aainu-U0ClZYS8ug-4stKjZu_s" rel="icon">
  <link href="https://play-lh.googleusercontoutaCf9gx-U0ClZYS8ug-4stKjZu_s" rel="icon">

  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <link href="static/assets/css/style.css" rel="stylesheet">

</head>


<body>

  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center">
        <img src="httpsaCf9gxWME1fc76UpoLhtvm-5K3Aainu-U0ClZYS8ug-4stKjZu_s" alt="">
        <span class="d-none d-lg-block" style="font-size:20px;">Fruitition</span>
      </a></div>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <div class="search-bar">
     <p style="font-size:20px;">Welcome </p>
    </div>
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">


        {% for i in gtt %}
        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <!--  <img src="/media/{{i.Image}}"alt="" class="rounded-circle" width="30" height="30">-->
            <span class="d-none d-md-block dropdown-toggle ps-2">{{i.First_name}} {{i.Last_name}}</span>

          </a>

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <!--<img src="/media/{{i.Image}}" alt="" width="100">-->
              <h6>{{i.First_name}} {{i.Last_name}}</h6>
              <span>Administrator</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'adminn_details' %}" >
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'edit_admin' %}" >
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logout' %}" >
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>

              </a>
            </li>

          </ul>
        </li>

      </ul>
    </nav>     

  </header>

  <aside id="sidebar" class="sidebar" style="background: linear-gradient(113.5deg, rgb(234, 234, 234) 22.3%, rgb(201, 234, 211) 56.6%, rgb(255, 180, 189) 90.9%);">


    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="#dash" >
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li>
       




   


  
      <li class="nav-heading" style="color:black;">Manage Accounts</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'adminn_details' %}" >
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{%url 'view' %}" >
          <i class="bi bi-person"></i>
          <span>Registered Users</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'register_employee' %}" >
          <i class="bi bi-card-list"></i>
          <span>Register Employee</span>
        </a>
      </li>



    </ul>

  </aside>

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'admin_home' %}" >Home</a></li>
          <li class="breadcrumb-item">Profile</li>
          <li class="breadcrumb-item active">Manage Profile</li>
        </ol>
      </nav>
    </div>
    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">
        
          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
         
 
           
              <h2>{{bb1.First_name}} {{bb1.Last_name}}</h2>
              <h3>Administrator</h3>
              <div class="social-links mt-2">
                <a href="https://www.facebook.com/" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="https://twitter.com/?lang=en" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.instagram.com/" class="instagram"><i class="bi bi-instagram"></i></a>
                
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
     
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>


                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>
        

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
        
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label "style="width:auto ">Full Name</div>
                    <div class="col-lg-9 col-md-8" style="width:auto; ">&nbsp&nbsp&nbsp
                      &nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp{{bb1.First_name}} {{bb1.Last_name}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label" style="width:auto ">Job</div>
                    <div class="col-lg-9 col-md-8" style="width:auto ">&nbsp&nbsp&nbsp&nbsp 
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp&nbsp&nbsp&nbspAdministrator</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label" style="width:auto ">Contact Number</div>
                    <div class="col-lg-9 col-md-8" style="width:auto ">{{bb1.Mobile_Number}} </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label"style="width:auto ">Email </div>
                    <div class="col-lg-9 col-md-8"style="width:auto ">
                      &nbsp&nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                      &nbsp{{bb1.Email}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label"style="width:auto ">Date Joined</div>
                    <div class="col-lg-9 col-md-8"style="width:auto ">
                      &nbsp&nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp
               {{bb1.Registration_date}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label"style="width:auto ">Password</div>
                    <div class="col-lg-9 col-md-8"style="width:auto ">
                      &nbsp&nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp{{bb1.Password}}</div>
           
                  </div>
                 
                  <button class="btn btn-primary" onclick="window.location.href = '{% url 'del_admin' i.id %}';">Resign from administration</button>
                  {% endfor %}
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label"style="width:auto "></div>
                    <div class="col-lg-9 col-md-8"style="width:auto ">
                      &nbsp&nbsp&nbsp&nbsp&nbsp
                      &nbsp&nbsp

                     </div>
                  </div>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">


            			<form  action="{% url 'bnb' %}" method="post">

                    {% csrf_token %}
                    <div class="row mb-3">
                      <div style="color:Red;">
                        {% if messages %}
                          {% for msg in messages %}
                              {{ msg }}
                          {% endfor %}
                        {% endif %}
                    </div>
                    
               
                    </div>

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" id="fullName" value="{{bb1.First_name}}" name="first" pattern="[A-Za-z]+" title="Please enter alphabets only" required>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" id="fullName" value="{{bb1.Last_name}}" name="last" pattern="[A-Za-z]+" title="Please enter alphabets only" required>
                      </div>
                    </div>

               
                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">User Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input  type="text" class="form-control" id="userName"  value="{{um.username}}" name="user_name" pattern="[A-Za-z]+" title="Please enter alphabets only" required>
                        <input type="hidden"  value="{{bb1.Password}}" name="psw">
                        <input type="hidden"  value="{{bb1.Image}}" name="photo">
                      </div>
                    </div>
                 
                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="em" type="email" class="form-control" id="Email" value="{{bb1.Email}}"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
          
           
             
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form>
                   </div>



                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <form  action="{% url 'bnb' %}" method="post">

                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <span  class="form-control"  >{{bb1.Password}}</span>

                      </div>
                    </div>

               
                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                          <input name="psw" type="password" class="form-control" id="newPassword" oninput="validatePassword()" pattern="^(?=.*[A-Za-z])(?=.*\d).{8,}$" title="Password must be at least 8 characters long and include both numbers and alphabets only" required>
                          <input type="hidden"  value="{{um.username}}" name="user_name">
                          <input type="hidden"  value="{{bb1.Email}}" name="em">
                          <input type="hidden"  value="{{bb1.First_name}}" name="first">
                          <input type="hidden"  value="{{bb1.Last_name}}" name="last">
                          <input type="hidden"  value="{{bb1.Image}}" name="photo">
                        </div>
                  </div>
                  
                  <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                          <input name="psw"  type="password" class="form-control" id="renewPassword" oninput="validatePassword()" pattern="^(?=.*[A-Za-z])(?=.*\d).{8,}$" title="Password must be at least 8 characters long and include both numbers and alphabets only" required>
                          <small id="passwordHelp" class="form-text text-muted"></small>
                      </div>
                  </div>
                  
                  <script>
                      function validatePassword() {
                          var newPassword = document.getElementById("newPassword").value;
                          var renewPassword = document.getElementById("renewPassword").value;
                          var passwordHelp = document.getElementById("passwordHelp");
                          var changePasswordBtn = document.getElementById("changePasswordBtn");
                  
                          if (newPassword === renewPassword) {
                              passwordHelp.textContent = "Passwords match!";
                              passwordHelp.style.color = "green";
                              changePasswordBtn.disabled = false; 
                          } else {
                              passwordHelp.textContent = "Passwords do not match.";
                              passwordHelp.style.color = "red";
                              changePasswordBtn.disabled = true; 
                          }
                      }
                  </script>
                  
                  <div class="text-center">
                      <button type="submit" class="btn btn-primary" id="changePasswordBtn" disabled>Change Password</button>
                  </div>
                         </form>
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main>

  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Fruitition</span></strong>. All Rights Reserved
    </div>

    <div class="credits">
       Designed by <a href="">Amina Ashraf,  
        Anu Anna Baby, 
        Elsa Anju Siby</a>
    </div>
  </footer>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="static/assets/vendor/quill/quill.min.js"></script>
  <script src="static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>


  <script src="static/assets/js/main.js"></script>

</body>

</html>